__pycache__
Testing_Notebook.ipynb
transformer_lens/scratch.py
.idea/
wandb*
transformer_lens\.egg*
MANIFEST.in
settings.ini
_proc
core.py
nbs
_modidx.py
.ipynb_checkpoints
env
dist/
docs/build
.coverage*
.Ds_Store
.pylintrc
docs/source/generated
# docs/source/_static/model_table
**.orig
.venv

# Large Topology Data
nfb_data/*.json
tempdata/*.json

# Node.js
node_modules/
frontend/node_modules/

# Config files
.vscode/
.python-version
package.json
package-lock.json
pyproject.toml
launch.json

# Models
*.pth
